* {
    /* border-top: 10px solid #1098ad; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* PAGE SECTIONS */
  body {
    color: #444;
    font-family: sans-serif;
  
    border-top: 10px solid #1098ad;
    position: relative;
  }
  
  .container {
    width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
  }
  
  .main-header {
    background-color: #f7f7f7;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;
    /* margin-bottom: 60px; */
    /* height: 80px; */
  }
  
  nav {
    font-size: 18px;
    /* text-align: center; */
  }
  
  article {
    /* margin-bottom: 60px; */
  }
  
  .post-header {
    margin-bottom: 40px;
    /* position: relative; */
  }
  
  aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 40px;
  }
  
  /* SMALLER ELEMENTS */
  h1,
  h2,
  h3 {
    color: #1098ad;
  }
  
  h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  ul,
  ol {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 10px;
    /* display: inline; */
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  /* footer p {
    font-size: 16px;
  } */
  
  /* article header p {
    font-style: italic;
  } */
  
  #author {
    font-style: italic;
    font-size: 18px;
  }
  
  #copyright {
    font-size: 16px;
  }
  
  .related-author {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* ul {
    list-style: none;
  } */
  
  .related {
    list-style: none;
    margin-left: 0;
  }
  
  body {
    /* background-color: orangered; */
  }
  
  /* .first-li {
    font-weight: bold;
  } */
  
  li:first-child {
    font-weight: bold;
  }
  
  li:last-child {
    font-style: italic;
  }
  
  li:nth-child(even) {
    /* color: red; */
  }
  
  /* Misconception: this won't work! */
  article p:first-child {
    color: red;
  }
  
  /* Styling links */
  a:link {
    color: #1098ad;
    text-decoration: none;
  }
  
  a:visited {
    /* color: #777; */
    color: #1098ad;
  }
  
  a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
  }
  
  a:active {
    background-color: black;
    font-style: italic;
  }
  /* LVHA */
  
  .post-img {
    width: 100%;
    height: auto;
  }
  
  nav a:link {
    /* background-color: orangered;
    margin: 20px;
    padding: 20px;
  
    display: block; */
  
    margin-right: 30px;
    display: inline-block;
  }
  
  nav a:link:last-child {
    margin-right: 0;
  }
  
  button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
  
    position: absolute;
    /* top: 50px;
    left: 50px; */
    bottom: 50px;
    right: 50px;
  }
  
  h1::first-letter {
    font-style: normal;
    margin-right: 5px;
  }
  
  h3 + p::first-line {
    /* color: red; */
  }
  
  h2 {
    /* background-color: orange; */
    position: relative;
  }
  
  h2::before {
    content: "TOP";
    background-color: #ffe70e;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -25px;
  }
  
  /* Resolving conflicts */
  /* #copyright {
    color: red;
  }
  
  .copyright {
    color: blue;
  }
  
  .text {
    color: yellow;
  }
  
  footer p {
    color: green !important;
  } */
  
  /* nav a:link,
  nav p {
    font-size: 18px;
  } */
  
  /* FLOATS */
  /*
  .author-img {
    float: left;
    margin-bottom: 20px;
  }
  
  .author {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  h1 {
    float: left;
  }
  
  nav {
    float: right;
  }
  
  .clear {
    clear: both;
  }
  
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
  }
  
  article {
    width: 825px;
    float: left;
  }
  
  aside {
    width: 300px;
    float: right;
  }
  
  footer {
    clear: both;
  }
  */
  
  /* FLEXBOX */
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .author-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .author {
    margin-bottom: 0;
    margin-left: 15px;
  }
  
  .related-post {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .related-link:link {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
    display: block;
  }
  
  .related-author {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
  }
  
  /* FLEXBOX LAYOUT */
  /* .row {
    display: flex;
    align-items: flex-start;
    gap: 75px;
    margin-bottom: 60px;
  }
  
  article {
    flex: 1;
    margin-bottom: 0;
  }
  
  aside {
    
    DEFAULTS:
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  
    flex: 0 0 300px;
  } */
  
  /* CSS GRID LAYOUT */
  .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 75px;
    row-gap: 60px;
    align-items: start;
  }
  
  .main-header {
    /* grid-column: 1 / span 2; */
    grid-column: 1 / -1;
  }
  
 
  footer {
    grid-column: 1 / -1;
  }
  .card-blog{
    /* padding: 2px 16px; */
    width: 146%;
    height: auto;
    background-color: #fff;
    border: 3px solid #1098ad;

  }
  .grid-blog{

    display: grid;
    grid-template-columns: 44% auto ;
  }
  .grid-card{
    /* border: 2px solid #060e0f; */
    
  }